.feat {
  display: flex;
  gap: 1rem;

  .feat__icon {
    background: var(--clr-accent-200);
    padding: 0.5rem 0.75rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
  }

  .feat__description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h3 {
      font-family: var(--font-inter);
      font-weight: 600;
      font-size: var(--fs-xmd);
      color: var(--clr-accent-100);
    }

    p {
      font-size: var(--fs-md);
      color: var(--clr-text-300);
      line-height: 1.3;
    }
  }
}
