.howitworks {
  padding: 4rem 7rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background: var(--clr-background-200);

  .howitworks__heading {
    color: var(--clr-text-200);
    font-family: var(--font-sora);
    font-weight: 700;
    font-size: var(--fs-lg);
    text-align: center;
  }

  .howitworks-steps {
    display: flex;
    gap: 2rem;

    .howitworks__step {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      span {
        width: fit-content;
        color: var(--clr-background-200);
        font-size: 2rem;
        font-weight: 700;
        font-family: var(--font-inter);
        border-radius: 50%;
        background: var(--clr-primary-100);
        padding: 1rem 1.25rem;
      }

      h3 {
        font-family: var(--font-inter);
        font-size: var(--fs-xmd);
        font-weight: 600;
        color: var(--clr-accent-100);
      }

      p {
        font-size: var(--fs-md);
        color: var(--clr-text-300);
        text-align: center;
        line-height: 1.3;
      }
    }
  }
}
