@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'DM Sans', sans-serif;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

/* .grid-area-movie {
  grid-area: movie;
} */
